<%- include("./partials/header") %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
        <h1>Attendance Updated</h1>
            <p>
            List of students Present
            </p>
        </div>
    </header>
    
    
    

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>XI</td>
        <td>JINGPING</td>
        <td><img src="https://lh3.googleusercontent.com/05dC2imrPVfNVgx23xDX_8RSuHmmev67ODhp8FdPNIOU-mYW6Gs3AyNVJ0CabMEqPq_sJz7xkxFJx6L19NQJ2-McGE2vg5AdLyJlf8eipJVlnZPKPkdSMbHtkJZeI10JYRPE0z1YtX4=w2400"</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>DONALD</td>
        <td>TRUMP</td>
        <td><img src="https://lh3.googleusercontent.com/npHY134L9dwuUXxlbE4ESpXKt-peefQuzs19NWN0yIQAc1HI7yuMtZlVq9JeLTQiixlSv1xI5Mf8DGn5jNPcAZKWO7Tzsm7EiKCa9ShsCm0wrmo7ykn5CEEQPnPOF5_X0IS76WVgRDQ=w2400"</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>ABE</td>
        <td>SHINZO</td>
        <td><img src="https://lh3.googleusercontent.com/hYeIkDyRcoMu-H9J01M0rASzJM69jSlBMi_pDRcYp-UErVBVNmz-72BtUobMHHtaaHixtsutuTE-9F_G9xNhhvQ_E8i7XXW1WGJKKV4J90TXSoQs3kZo7l544VVmNBvmDKasJGBgqVE=w2400"</td>
      </tr>

    </tbody>
  </table>
</div>



<%- include("./partials/footer") %>