<%- include("./partials/header") %>
<div class="container">
<header class="jumbotron">
    <div class="container">
    <h1>Image Uploaded</h1>
        <p>
        <a class="btn btn-success btn-large" href="/attendance/add">Submit</a>
        <a class="btn btn-danger btn-large" href="/campgrounds">Take another picture</a>
        
        </p>
    </div>
</header>
<div class="container">
<img src="https://lh3.googleusercontent.com/iCHozHT294JuQdILeQ3-TX42DrWFD4h-zs8v3Lo9swvrPze0kfjLdsvNtiNvhv_rthMGJ-Z6wWUvfiZR1zcHNmYlWM_u9pb91KGbdjYvqvVPnl3ZUpY-BsmFVRozKkzf3hW1-6dxgUM=w2400" style="width:50%" class="img-fluid" alt="Responsive image">

</div></div>







<%- include("./partials/footer") %>